<!-- <div class="card mb-3">
  <img class="card-img-top size" src={{object.urlToImage}} alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">{{object.title}}</h4>
    <p class="card-text">{{object.description}}</p>
    <p class="card-text"><small class="text-muted">{{object.publishedAt}}</small></p>
    <a href={{object.url}} class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Read more</a>
<button type="button" class="btn btn-success" (click)="postObject(object)">Add to favourite</button>

  </div>
</div> -->
<div class="container">

<div class="card mb-3">
  <img class="card-img-top size" src={{object.urlToImage}} alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">{{object.title}}</h4>
    <p class="card-text">{{object.description}}</p>
    <p class="card-text"><small class="text-muted">{{object.publishedAt}}</small></p>
    <a href={{object.url}} class="btn btn-primary active" role="button" aria-pressed="true">Read more</a>
<button type="button" class="btn btn-success" (click)="postObject(object)">Add to favourite</button>
 </div>
</div>
</div>
